*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}


a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}


.home {
     /* The image used */
  background: linear-gradient(to right,  rgba(0, 0, 0, 0.67), transparent, rgba(0, 0, 0, 0.67)),
  url("../images/galaxy2.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav {
    height: 7vh;
    /* background-color:rgba(0, 0, 0, 0.3); */
}


.nav__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 900px;;
    height: 100%;
    margin: 0 auto;
    font-size: 1.7rem;
    font-family: "lora-regular", serif;
}

.nav__container a {
    padding: 1.2rem;
    color: pink;
    text-transform: uppercase;
}

.nav__container a:hover {
    color: rgba(255, 255, 0, 0.829);
    transition: .2s;
}

.nav__logo {
    flex-grow: 1;
}
/* .nav__logo--img {
    margin-top: 10rem;
    width: 10rem;;
} */
.nav__list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 3;
    background-color: rgba(0, 0, 0, 0.603);
    height: 100%;
}

/* .nav__list a:hover { */
    /* border: 1.5px solid rgba(255, 255, 0, 0.664); */
    /* background-color: rgba(0, 0, 0, 0.555); */
/* } */

.home__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 93vh;
}

.home__content {
    text-align: center;
    color: whitesmoke;
}

.home__content--greet {
    font-family: "poppins-bold", sans-serif;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    color: rgb(252, 252, 23);

}
.home__content--name {
    font-family: "poppins-medium", sans-serif;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    line-height: 1.071;
    /* max-width: 9px; */
    font-size: 9rem;
}
.home__content--job {
    font-family: "lora-regular", serif;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    line-height: 4.3rem;
}

.btn {
    cursor: pointer;
    border: .45rem solid rgba(0, 0, 0, 0.705);
    text-align: center;
    background: transparent ;
    text-transform: uppercase;
    letter-spacing: .25rem;
    color: whitesmoke;
    line-height: 10.5rem ;
    font-size: 1.4rem;
    padding: 2rem 1.9rem 2rem 2.5rem;
    font-family: "poppins-bold", sans-serif;
}

.btn:hover {
    border-color:  rgba(255, 255, 0, 0.664);
    background-color: rgba(0, 0, 0, 0.3);
    transition: .2s;
}

.fa-chevron-down {
    color:  #000;
    font-size: 1.7rem;

}

.home__social-list {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 50%;
    margin: 0 auto;
    font-size: 3.5rem;
    bottom: 7.2rem;
    position: absolute;
    
    
}

.home__social-list--item a {
    margin: 0 5rem;
    color: whitesmoke;
}
.home__social-list--item a:hover {
    color:  rgba(255, 255, 0, 0.664);
    transition: .2s;
}